.coverage
.venv
*.swp
*.swo
__pycache__
*.pyc
bin/
include/
lib/
local/
.repos/
jj_config/ci/projects.yaml
jj_config/cloud/projects.yaml
jj_config/dc/projects.yaml
jj_config/local_ci/projects.yaml
jj_config/local_cloud/projects.yaml
jj_config/local_dc/projects.yaml
build/*

*~
tcl/
pip-selfcheck.json
Haddock.egg-info/
.cache/
haddock.egg-info/
pybuild/
.idea/
.pybuild/
